.chiefnetimg{
    padding-top: 11px;
    padding-bottom: 8px;
    margin-left: 2rem;
}
ul,ol{
  list-style-type: none;

}
li{
  margin-right: 40px;
 padding-top: 10px;
 color: rgb(126, 119, 109);
}
.sidebar{
  background-color: rgb(173, 221, 221);
  height: 30rem;
  border-radius: 5px;
}
.organization{
  font-weight: 500;
  margin-right: 5px;
}
.organization:hover{
  background-color: rgba(151, 190, 190, 0.685);
  width: 10rem;
  border-radius: 4px;
  margin-left: 10px;
}
.users{
  font-weight: 500;
  margin-right: 60px;
}
.users:hover{
  background-color: rgba(151, 190, 190, 0.685);
  width: 10rem;
  border-radius: 4px;
  margin-left: 10px;
}
.device{
  font-weight: 500;
  margin-right: 50px;
}
.device:hover{
  background-color: rgba(151, 190, 190, 0.685);
  width: 10rem;
  border-radius: 4px;
  margin-left: 10px;
}
.topic{
    margin-left: 15rem;
    padding: 1rem;
    margin-bottom: 0;
  }
.logout-btn{
    margin-right: 10px;
}
.mi{
    padding-left: 0;
  }
  .mi1{
    padding-right: 0;
  }
.burger-button{
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
}
.burger-button:hover{
    background-color: rgb(179, 252, 255);
}

.delect{
  border-style: none;
 margin-left: 3px;
 
}
.edit{
 margin-right: 3px;
}
.table-container {
  overflow-x: auto; 
  white-space: nowrap; 
}
.my-table {
  width: 100%; 
  min-width: 600px;
  border-collapse: collapse;
}

.my-table td, .my-table th {
  border: 1px solid rgb(233, 233, 233); 
  padding: 8px; 
  text-align: left; 
}

