
*{
   
    box-sizing: border-box;
}
.card{
    width: 30rem;  
    background-color: transparent;
    
}
.form-control{
    max-width: 20rem;
}
.label{
  padding-left: 10px;
  color: wheat;
}
.neworganization{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.title{
    margin-left: 5rem;
    padding: 10px;
    color: wheat;
}
.body {
    background-image: url('./../../assets/Add-organization1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
   
  }
  .submit-btn{
    margin-left: 10px;
    margin-bottom: 1rem;
  }
  .successmessage{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 30rem;
    background-color: green;
    color: azure;
}
.radio{
  color:black
}