
*{
   
    box-sizing: border-box;
}
.card{
    width: 28rem;  
}
.form-control{
    max-width: 20rem;
}
.label{
  padding-left: 10px;
}
.neworganization{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}