.sidebar{
    background-color: rgb(173, 221, 221);
    height: 30rem;
    border-radius: 5px;
  }
  .organization{
    font-weight: 500;
    margin-right: 4px;
  }
  .organization:hover{
    background-color: rgba(151, 190, 190, 0.685);
    width: 10rem;
    border-radius: 4px;
    margin-left: 10px;
  }
  .users{
    font-weight: 500;
    margin-right: 60px;
  }
  .users:hover{
    background-color: rgba(151, 190, 190, 0.685);
    width: 10rem;
    border-radius: 4px;
    margin-left: 10px;
  }
  .device{
    font-weight: 500;
    margin-right: 50px;
  }
  .device:hover{
    background-color: rgba(151, 190, 190, 0.685);
    width: 10rem;
    border-radius: 4px;
    margin-left: 10px;
  }
  .topic{
    margin-left: 15rem;
    padding: 1rem;
    margin-bottom: 0;
  }
  .card{
    margin-bottom: 1rem;
  }
  
    @keyframes spin {
      /* to {
        transform: rotate(360deg); */
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg);
      }
    }
  
    .add-btn{
      color:black;
      margin-right: 5px;
    }
  
    .chiefnetimg{
        padding-top: 11px;
        padding-bottom: 8px;
        margin-left: 2rem;
    }
    ul,ol{
      list-style-type: none;
    
    }
    li{
      margin-right: 40px;
     padding-top: 10px;
     color: rgb(126, 119, 109);
    }
    .mi{
        padding-left: 0;
      }
      .mi1{
        padding-right: 0;
      }
      .burger-button{
        border: none;
        height: 2rem;
        width: 2rem;
        border-radius: 4px;
    }
    .burger-button:hover{
        background-color: rgb(179, 252, 255);
    }
    .edit{
        margin-right: 3px;
       }
       .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #09f;
        animation: spin 1s linear infinite;
        margin-left: 2rem;
      }

      .my-table {
        width: 100%; 
        min-width: 600px; 
        border-collapse: collapse;
      }
      .my-table td, .my-table th {
        border: 1px solid rgb(233, 233, 233); 
        padding: 8px; 
        text-align: left; 
      }

      .b1{
        border: none;
      }
      .pagination-wrapper {
        display: flex;
        justify-content: center; /* Center the content horizontally */
      }
      
      .pagination-controls {
        display: flex;
        align-items: center; /* Center items vertically */
      }
      
      .btn {
        margin: 0 5px; /* Adjust spacing between buttons if needed */
      }

      .success-btn {
        background-color: #28a745; 
        color: white; 
        border: none; 
        height: 32px;
        width: 40px;
        font-size: 16px; 
        border-radius: 5px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
      
      }
      
      .success-btn:hover {
        background-color: #218838; 
      }
      
      .success-btn:active {
        background-color: #1e7e34; 
      }
      
      .success-btn:disabled {
        background-color: #94d3a2; 
        cursor: not-allowed; 
        opacity: 0.65; 
      }
      
      .delete-btn {
        background-color: #dc3545; 
        color: white;
        border: none;
        height: 32px;
        width: 40px;
        font-size: 16px; 
        border-radius: 5px; 
        cursor: pointer;
        transition: background-color 0.3s ease; 
      }
      
      .delete-btn:hover {
        background-color: #c82333; 
      }
      
      .delete-btn:active {
        background-color: #bd2130;
      }
      
      .delete-btn:disabled {
        background-color: #e6a2ab;
        cursor: not-allowed; 
        opacity: 0.65; 
      }
      